<%- include('partials/header') -%>

<h1>Home</h1>

<p>  <%= embeddedText %>  </p>

<div >
    <% embeddedList.forEach((item) => { %>  
        <h1> <%=  item['title']  %> </h1> 
          <p class="truncate">  <%= item['post'] %> 
            <a href="/posts/<%= item.title %>"" >...Read More</a> </p>  
    
            <%  }) %>  
    </div>


     

<%- include('partials/footer') -%>
